<md-dialog aria-label="List dialog">
  <md-dialog-content>
    <h2 class="md-title">
      Introduce la descripción del nuevo asunto
    </h2>
    <form name="projectForm">
      <md-input-container>
        <label>Descripción</label>
        <input md-maxlength="30" required name="description" ng-model="newThing">
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">Obligatorio.</div>
          <div ng-message="md-maxlength">Como mucho 30 caracteres.</div>
        </div>
      </md-input-container>
    </form>
  </md-dialog-content>
  <div class="md-actions">
    <md-button ng-click="closeDialog()" class="md-primary">
      Cancelar
    </md-button>
    <md-button ng-click="addThing()" class="md-primary">
      Guardar
    </md-button>
  </div>
</md-dialog>
